Package: com.sassoty.bitlyforactionmenu
Name: Bitly For Action Menu
Depends: actionmenu
Version: 1.2
Architecture: iphoneos-arm
Description: Quick bit.ly link shortener plugin for Action Menu
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Addons (Action Menu)
